############
#   JAVA   #
############

*.class
*.jar
*.war
*.ear

############
#   IDEA   #
############

*.iml
out/*
.idea/*

############
#  MAVEN   #
############

target/*

############
# DOLPHIN  #
############

.directory

